{% extends 'blog/base.html' %}
{% load staticfiles%}

{% block csslinks %}
      
{% endblock %}

{% block content %}
    <div class="row h-100">
        <div class="col-sm-12 my-auto">
            <div class="w-100 text-center">
                <h1>Invalid activation link!</h1>
                <br>
                <h1>This link is either expired or already used.</h1>
                <img  style="height: 100px;margin-top: 2rem;margin-bottom: 2rem;" src="{% static "blog/img/sad.svg" %}" alt="">
            </div>
            
        </div>
    </div>
{% endblock %}

{% block jslinks %}
    
{% endblock %}