{% extends "blog/base.html" %}
{% load staticfiles%}

{% block csslinks %}
      <link rel="stylesheet" type="text/css" href="{% static 'blog/css/category.css' %}">
{% endblock %}

{% block header %}
<div class="cat-banner"> 
    <img src="{% static 'blog/img/categories/' %}{{category}}1_large.png" data-aos="fade-down" data-aos-delay="500"></img>
    <h5 data-aos="fade-down">Check out our recent posts at DareToProgram. For category filters, see below.</h5>
</div>
{% endblock %}

{% block content %}
    <div class="row">
        
        {% include "blog/common/left-sidebar-category.html" %}
        {% include "blog/common/right-sidebar.html" %}
    </div>
{% endblock content %}

{% block jslinks %}
    <script src="{% static 'blog/js/category.js' %}"></script>
{% endblock %}