<div class="row">
    <div class="col-lg-7 col-md-12">
      {% for post in posts %}
        <h1 class="title">{{post.title}}</h1>
        <p class="date">{{post.date_posted|date:'F d, Y'}}</p>
        <div class="post-img">
          <img class="img-fluid" src="media/{{post.image}}" style="">
        </div>
        <p class="post-content">{{post.content}}</p>
        <button onclick="" id="read-more">Read more</button>
        <div class="divider1"></div>
        <div class="post-bottom row">
          <div class="col-6">
            <p class="author"><i class="fas fa-user"></i>{{post.author}} </p>
          </div>
          <div class="likes col-6">
            <div id="{{post.id}}" class="heart"></div>
            <p class="likes-p">{{post.likes}} likes</p>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="about-us col-lg-5 col-md-12">
      <h3>Who are UrsaSol?</h3>
      <div class="row">
        <div class="col-6">
          <h2></h2>
          <img class="side-personal" src="media/base/dare1.jpg"></img>
        </div>
        <div class="col-6">
          <h2></h2>
          <img class="side-personal" src="media/base/nigel1.jpg"></img>
        </div>
        <div class="col-6">
          <h2></h2>
          <img class="side-personal" src="media/base/josh1.jpg"></img>
        </div>
        <div class="col-6">
          <h2></h2>
          <img class="side-personal" src="media/base/brendan1.jpg"></img>
        </div>
      </div>
      <h3>Categories</h3>
      <p>stuff</p>
      <p>stuff</p>
      <p>stuff</p>
    </div>
  </div>